@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    --primary-color-normal: #9E85E4;
    --primary-color-darker: #372f50;
    --gray-color: #F1F1F1;
    --gray-color-2: #BAC2D0;
    --gray-color-3: #D9D9D9;
    --success-color: #9EE485;
    --danger-color: #E48585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--gray-color);
}

header {
    display: flex;
    align-items: center;
    min-height: 90px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 5.5px 0px rgba(0, 0, 0, 0.25);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 840px;
    padding: 16px 16px;
    margin: 0 auto;
    gap: 20px;
}

button {
    background-color: var(--primary-color-normal);
    border: none;
    color: #FFFFFF;
}

.login-button {
    padding: 9px 24px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 700;
}

.welcome-section {
    width: fit-content;
    padding: 92px 0;
    margin: 0 auto;
    color: var(--primary-color-darker);
}

.welcome-container {
    text-align: center;
    padding: 0 16px;
}

.welcome-container h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

.welcome-container p {
    margin-bottom: 40px;
}

.add-book-button {
    padding: 14px 34px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(203px, 2fr)); /* Alteração aqui */
    gap: 40px;
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.card {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    word-wrap: break-word;
}

.card:hover .book-img {
    filter: brightness(50%) blur(2px);
}

.hover-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.hover-options button  {
    padding: 6px 22px;
    border-radius: 8px;
    font-weight: 700;
}

.read-select-false {
    background-color: var(--danger-color);
}

.read-select-true {
    background-color: var(--success-color);
}

.remove-option {
    background-color: var(--gray-color-2);
}

.card:hover .hover-options {
    visibility: visible;
    opacity: 1;
}

.book-img {
    height: 234px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
    object-position: top;
}

.book-info {
    display: flex;
    justify-content: space-around;
    gap: 12px;
    padding: 16px;
    width: 100%;
}

.book-info .left {
    text-align: center;
}

.number-pages {
    font-size: 20px;
    font-weight: 900;
}

.pages {
    font-size: 12px;
}

.status-true {
    width: 13.945px;
    height: 13.945px;
    border-radius: 50%;
    background-color: var(--success-color);
    box-shadow: 0px 0px 4px var(--success-color);
    display: inline-block;
}

.status-false {
    width: 13.945px;
    height: 13.945px;
    border-radius: 50%;
    background-color: var(--danger-color);
    box-shadow: 0px 0px 4px var(--danger-color);
    display: inline-block;
}

.book-info .right {
    text-align: center;
    overflow-wrap: break-word;
    width: 100%;
}

.title {
    font-weight: 600;
    margin-bottom: 6px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 299px;
    padding: 42px;
    background-color: var(--gray-color);
    border: none;
    border-radius: 8px;
    box-shadow: -13px 15px 39.5px -5px rgba(0, 0, 0, 0.25);
    display: none;
}

dialog[open] {
    display: block;
}

::backdrop {
    background-color: black;
    opacity: 0.40;
}

#book-form h1 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputs > div:not(:last-child) {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputs > div:not(:last-child) > input{
    border: none;
    background-color: var(--gray-color-3);
    height: 29px;
    font-size: 10px;
    padding: 8px;
}

input[type="checkbox"] {
    accent-color: var(--primary-color-normal)
}

.inputs div:last-child {
    display: flex;
    gap: 4px;
}

input[type="submit"] {
    background-color: var(--primary-color-normal);
    border: none;
    color: #FFFFFF;
    width: 100%;
    padding: 11px 0;
    margin-top: 16px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 700;
}

label {
    font-weight: 500;
    font-size: 10px;
}

