@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    --primary-color-normal: #9E85E4;
    --primary-color-darker: #372f50;
    --gray-color: #F1F1F1;
    --gray-color-2: #BAC2D0;
    --success-color: #9EE485;
    --danger-color: #E48585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--gray-color);
}

header {
    display: flex;
    align-items: center;
    min-height: 90px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 5.5px 0px rgba(0, 0, 0, 0.25);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 840px;
    padding: 16px 16px;
    margin: 0 auto;
    gap: 20px;
}

button {
    background-color: var(--primary-color-normal);
    border: none;
    color: #FFFFFF;
}

.login-button {
    padding: 9px 24px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 700;
}

.welcome-section {
    width: fit-content;
    padding: 92px 0;
    margin: 0 auto;
    color: var(--primary-color-darker);
}

.welcome-container {
    text-align: center;
    padding: 0 16px;
}

.welcome-container h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

.welcome-container p {
    margin-bottom: 40px;
}

.add-book-button {
    padding: 14px 34px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(203px, 2fr)); /* Alteração aqui */
    gap: 40px;
    max-width: 840px; /* Adicione o valor máximo desejado */
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.card {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card:hover .book-img {
    filter: brightness(50%) blur(2px);
}

.hover-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.hover-options button  {
    padding: 6px 22px;
    border-radius: 8px;
    font-weight: 700;
}

.read-select {
    background-color: var(--danger-color);
}

.remove-option {
    background-color: var(--gray-color-2);
}

.card:hover .hover-options {
    visibility: visible;
    opacity: 1;
}

.book-img {
    background: no-repeat url(https://m.media-amazon.com/images/I/51uGVzNXipL._SY445_SX342_.jpg) top/cover;
    height: 234px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.book-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 16px;
}

.book-info .left {
    text-align: center;
}

.number-pages {
    font-size: 20px;
    font-weight: 900;
}

.pages {
    font-size: 12px;
}

.status {
    width: 13.945px;
    height: 13.945px;
    border-radius: 50%;
    background-color: var(--success-color);
    box-shadow: 0px 0px 4px var(--success-color);
    display: inline-block;
}

.book-info .right {
    font-size: 12px;
    text-align: center;
}

.title {
    font-weight: 600;
    margin-bottom: 6px;
}